.swiper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination{
    display: none;
}

/* section.swiper {
  z-index: -20000;
} */

a.close-slider {
  font-family: sans-serif;
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 10;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

