a.underline {
  padding: 25px 0;
}
a.highlighted {
  background-color: #dfdfdf;  
}
a.underline:hover {
  background-color: #dfdfdf;
  transition: .2s;
}

@media (min-width: 950px) {
  a.underline {
    border-radius: 0;
    position: relative;
  }
  a.highlighted {
    background-color: #ffffff;  
    
  }
  a.underline:hover {
    background-color: unset;
  }
  a.underline:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #f69ec4;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  a.highlighted:after,
  a.underline:hover:after,
  a.underline:focus:after {
    width: 100%;
  }
  a:hover { color: #f69ec4; }
}